.homeContainer {
  // padding: 20px 20px 150px 20px;
  background: #fff;
  // margin: 0 auto;
  overflow: hidden;
  &.isDesktop {
    .homeWrap {
      .mainBannerWrap {
        .bannerWrap {
          min-height: auto;
          img {
            min-height: auto;
            max-height: 1000px;
          }
        }
        .progressWrap {
          position: absolute;
          bottom: 10%;
          z-index: 10;
          padding: 0 50px;
          width: calc(100% - 100px);
          max-height: calc(100vh - (100vh - 50px));
          .progressbarWrap {
            border-radius: 50px;
            // background: #fff;
            // background: rgba(255, 255, 255, 50%);
            background: transparent;
            .progressbar {
              height: 3px;
              border-radius: 50px;
              background: #000;
              transition: width 1s ease;
            }
          }
        }
        .logoWrap {
          bottom: 15%;
          img {
            width: 120px;
          }
        }
      }
      .contentWrap {
        .infoWrap {
          .title,
          .infoText {
            max-width: 1080px;
            margin: 0 auto;
            width: 100%;
          }
        }
        .imgListWrap {
          max-width: 1080px;
          margin: 0 auto;
          .roomWrap {
            img {
              // max-height: 500px;
              max-height: 100%;
            }
          }
        }
      }
    }
  }
  .homeWrap {
    .mainBannerWrap {
      position: relative;
      .bannerWrap {
        min-height: 100vh;
        background-color: transparent;
        img {
          width: 100%;
          min-height: 100vh;
          max-height: 100vh;
          object-fit: cover;
        }
      }
      .paginationWrap {
        position: absolute;
        z-index: 10;
        top: 65px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 22px;
        background: rgb(0, 0, 0, 25%);
        border-radius: 20px;
        .pageWrap {
          color: white;
          font-size: 10px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 3px;
        }
      }
      .logoWrap {
        position: absolute;
        right: 5%;
        bottom: 7%;
        z-index: 11;
        animation: rotate 10s infinite linear;
        img {
          width: 120px;
        }
      }
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .contentWrap {
      padding: 50px 0 80px;
      display: flex;
      gap: 50px;
      flex-direction: column;
      .infoWrap {
        display: flex;
        gap: 15px;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        .title {
          display: flex;
          gap: 15px;
          padding: 0 20px;
          span {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
          }
          span:last-child {
            padding: 0 0 5px;
            display: flex;
            align-items: end;
            text-decoration: underline;
            font-size: 14px;
            line-height: 19px;
          }
        }
        .turnTitle {
          height: 60px;
          .sliderContainer {
            width: 100%;
            .sliderWrapper {
              display: flex;
              position: relative;
              width: 100%;

              .slidingText,
              .slidingTextDelayed {
                display: flex;
                position: absolute;
                top: -33px;
                white-space: nowrap;
                will-change: transform;
                animation: scroll 20s linear infinite;
                p {
                  margin: 0;
                  display: flex;
                  align-items: center;
                  font-weight: 400;
                  font-size: 105px;
                  line-height: normal;
                  letter-spacing: 10px;
                  white-space: nowrap;
                  span {
                    // color: #37d6bc;
                    color: #77e0cf;
                    // color: #7bcec0;
                  }
                  &::before,
                  &::after {
                    display: block;
                    width: 100%;
                    height: 18px;
                    background: white;
                    position: absolute;
                    left: 0;
                  }
                  &::before {
                    content: "";
                    top: 13px;
                  }
                  &::after {
                    content: "";
                    bottom: 12px;
                  }
                }
              }

              .slidingTextDelayed {
                animation-delay: 10s;
              }

              @keyframes scroll {
                0% {
                  transform: translateX(100%);
                }
                100% {
                  transform: translateX(-100%);
                }
              }
            }
          }
        }
        .infoText {
          padding: 0 20px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          span {
            font-weight: 500;
            color: #77e0cf;
          }
        }
      }
      .imgListWrap {
        display: flex;
        gap: 15px;
        flex-direction: column;
        .roomWrap {
          position: relative;
          // height: 130px;
          img {
            width: calc(100% - 20px);
            max-height: 130px;
            aspect-ratio: 355/130;
          }
          .titleWrap {
            position: absolute;
            right: 0;
            bottom: -10px;
            padding: 3px 20px;
            width: calc(100% - 60px);
            background: #f0f1f3;
            text-align: right;
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
        .kitchenWrap {
          padding: 10px 20px 0;
          display: flex;
          gap: 15px;
          justify-content: space-between;
          min-height: 230px;
          .leftWrap {
            img {
              width: 100%;
              height: 100%;
              aspect-ratio: 160/230;
              border-radius: 50px 50px 50px 0;
            }
          }
          .rightWrap {
            position: relative;
            display: flex;
            gap: 15px;
            flex-direction: column;
            img {
              width: 100%;
              height: 100%;
              aspect-ratio: 160/185;
              border-radius: 50px 50px 0 50px;
            }
            .titleWrap {
              padding: 3px 20px;
              width: calc(100% - 20px);
              background: #ecefea;
              text-align: right;
              span {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
        .poolWrap {
          position: relative;
          .poolImgWrap {
            display: flex;
            justify-content: end;
            gap: 5px;
            img {
              width: calc((100% / 3) - 10px);
              aspect-ratio: 115/150;
            }
          }
          .titleWrap {
            position: absolute;
            right: 0;
            padding: 3px 20px;
            width: calc(100% - 60px);
            background: #f0f1f3;
            text-align: right;
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
