.roomContainer {
  padding: 0 0 50px;
  background: #fff;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  .roomWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .roomImgWrap {
      position: relative;
      text-align: center;
      cursor: pointer;
      .paginationWrap {
        position: absolute;
        z-index: 10;
        top: 15px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 22px;
        background: rgb(0, 0, 0, 25%);
        border-radius: 20px;
        .pageWrap {
          color: white;
          font-size: 10px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 3px;
        }
      }
      .menuArrayWrap {
        position: absolute;
        padding: 5px 12px;
        z-index: 10;
        top: 15px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(0, 0, 0, 50%);
        border-radius: 20px;
        .menuWrap {
          color: white;
          font-size: 10px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 2px;
        }
      }
      img {
        width: 100%;
      }
    }
    .slideMenuWrap {
      padding: 0 20px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      div {
        padding: 3px 5px;
        cursor: pointer;
        border: 1px solid black;
        width: 87px;
        text-align: center;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        &:hover {
          background: #000;
          color: #fff;
        }
      }
      .select {
        background: #000;
        color: #fff;
      }
    }
    .explanWrap {
      padding: 0 20px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      & > div {
        display: flex;
      }
    }
    .roomInfoWrap {
      padding: 0 20px;
      background: #f0f1f3;
      .infoFrame {
        &:first-child {
          border: none;
        }
        border-top: 0.5px solid rgb(0, 0, 0, 50%);
        .infoTitle {
          padding: 20px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .infoContent {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          // transition: padding 0.5s, opacity 0.5s ease-in-out;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          &.open {
            padding: 0 0 20px;
            opacity: 1;
            max-height: 60px;
            box-sizing: border-box;
            overflow: hidden;
            transition: max-height 0.5s, opacity 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
